<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Edit Pokemon Stats Form</title>

  <link rel="stylesheet" href="/css/style.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <form class="needs-validation" method="POST" action="/{{pokemon.id}}?_method=PUT" novalidate>
    <div class="form-row">
      <!-- Pokemon Id Field - Readonly -->
      <div class="col-md-3 mb-3">
        <label for="validationCustom01">Pokemon Id</label>
        <input name="id" type="text" value= {{pokemon.id}} readonly/>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <!-- Pokemon Num Field - Readonly -->
      <div class="col-md-3 mb-3">
        <label for="validationCustom02">Pokemon Num</label>
        <input name="num" type="text" value= {{pokemon.num}} readonly/>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <!-- Pokemon name Field - Editable -->
      <div class="col-md-3 mb-3">
        <label for="validationCustomName">Name</label>
        <input name="name" type="text" class="form-control" id="validationCustomName" placeholder="Enter pokemon name" required/>
        <!-- <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required> -->
        <div class="invalid-feedback">
          Please choose a Pokemon name.
        </div>
      </div>
    </div>

    <div class="form-row">
      <!-- Pokemon Image Field - Editable -->
      <div class="col-md-4 mb-3">
        <label for="validationCustom03">Image</label>
        <input name="img" type="text" class="form-control" id="validationCustom03" placeholder="Enter pokemon image" required/>
        <!-- <input type="text" class="form-control" id="validationCustom03" placeholder="City" required> -->
        <div class="invalid-feedback">
          Please provide a valid image link.
        </div>
      </div>

      <!-- Pokemon Height Field - Editable -->
      <div class="col-md-3 mb-3">
        <label for="validationCustom04">Height</label>
        <input name="height" type="text" class="form-control" id="validationCustom04" placeholder="Enter pokemon height" required/>
        <!-- <input type="text" class="form-control" id="validationCustom04" placeholder="State" required> -->
        <div class="invalid-feedback">
          Please provide a valid height.
        </div>
      </div>

      <!-- Pokemon Weight Field - Editable -->
      <div class="col-md-3 mb-3">
        <label for="validationCustom05">Weight</label>
        <input name="weight" type="text" class="form-control" id="validationCustom05" placeholder="Enter pokemon weight" required/>
        <!-- <input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required> -->
        <div class="invalid-feedback">
          Please provide a valid weight.
        </div>
      </div>
    </div>

    <!-- Form Submit button -->
    <button class="btn btn-primary" name="submit" type="submit">Submit</button>
  </form>

  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
</body>

</html>
