<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokedex</title>
</head>
<body>
  <h1>Welcome to the online Pokedex!</h1>
  {{#each pokemon}}
    <form method="POST" action="/resource?_method=DELETE">
      <li>{{this.name}} <button type="submit" name="id" value="{{this.id}}">Delete</button></li>
    </form>
  {{/each}}
</body>
</html>
