<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokedex</title>
</head>
<body>
  <h1>Welcome to the online Pokedex!</h1>
  <ul>
    {{#each pokemon}}
    <li>Name: {{this.name}} ; Id: {{this.id}}</li><a href="/{{this.id}}/edit">Edit</a>
    {{/each}}
  </ul>
</body>
</html>
