<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokedex</title>
</head>
<body>
  <h1>Welcome to the online Pokedex!</h1>
  {{#each pokemon}}
    <li><a href="{{this.id}}">{{this.name}}</a></li>
  {{/each}}
</body>
</html>
